.logo {
    overflow: hidden;
    margin-top: 2px;
}
.buscador{
    margin-top: 5px;
    height: 20px;
    padding: 16px 20px;

}
.pie{
  background-color: #DDDDFF;
  width: 100%;
  height: 60px;
  clear: both;
  text-align: center;
}
.prop{

  float: right;
  height: 500px;
  background-image: url(../imagenes/downrigthside.jpg);

}
.contenido {
  float: left;
  height: 500px;
    text-align: center;
  overflow: scroll;
  overflow-x: hidden;

}
.busca{
margin-top: 5px;
}
.Ortesis, .ArtMed{
  background-color: #e7e7e7
}
.clasificacion{
  font-size: 16px;
}
.Artic , .clasificacion{

  text-align: left;
    line-height: 2.1;
  background-color: #e8e8e8

}
#bordefinal{
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: dotted;
}
.borrar{
  
}
