img{
  position: relative;
  text-align: center;
}


.contendor{
  position: absolute;
  background-color:  black;
}
.contenido{
  margin: 20px;
  text-align: center;
  font-size: 16px;

}

.encabezado{
  position: relative;
  font-size: 40px;
  text-align: center;
}
.saldoyapuesta{
  float: left;
  height: 380px;
  border: 8px solid black;
  background-color: green;
}
.ruleta{
  float:right;
  border: 8px dotted black;
  background-color: green;
}
h1, span{
  font-size: 28px;
  text-align: left;
  color: black;
}
h2 {
  text-align: center;
}
p{
  font-size: 28px;
  text-align: left;
  color: black;
  display: inline;
}
.credito, .apuesta1 , .apuesta2{
  font-size: 11px;
  text-align: justify;
  color:white;
}
#cambia{
  font-size: 36px;
  text-align: center;
  color: white;
  margin-left: 40px;
}
table{
  margin-left:  50px;
  margin-top:  10px;
  margin-right: 100px;
  display: inline-block;
  font-size: 60px;
}

tr{

  border: 5px solid black;
}

td{
  white-space: pre;
  border: 5px solid black;
  background-color: red;
  color : white;
}
#vacio{
  border: transparent;
}
label{
  text-align: center;
  font-size: 28px;
}
.negro{
  background-color: black;
}
.boton{
  padding: 20px;
}
.P1{
  float: left;
}
.P2{
  float: right;
}
